#header {
    height: 170px;
    background-color: #6960ec;
}

#logo {
    height: 75%;
    width: 300px;
    background-image: url('resources/logo.png');
    background-size: 220px 128px;
    background-repeat: no-repeat;
    margin-left: 30px;
}

#searchbox {
    float: right;
    margin-top: -70px;
    margin-right: 110px;
}

#header-menu {
    width: 100%;
    height: 25%;
    background: #b6b6b4;
    float: left;
    margin: 0;
    padding: 0;
    border 1px solid white;
    border-bottom: none;
}

#nav li a, #nav li {
    float: left;
}

#nav li {
    list-style: none;
    position: relative;
}

#nav li a {
    padding: 11px 100px;
    text-decoration: none;
    color: white;
    background: #292929;
    border-right: 1px solid #3c3c3c;
    border-left: 1px solid #292929;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #545454;
}

#nav li a:hover {
    background: #2a0d65;
}

.hasChildren {
    position: absolute;
    width: 5px;
    height: 5px;
    background: black;
    right: 0;
    bottom: 0;
}

#nav li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    margin: 0;
}

#nav li:hover > ul {
    display: block;
}

#nav li ul li, #nav li ul li a {
    float: none;
}

#nav li ul li a {
    width: 150px;
    display: block;
}

ul {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
}

#topic-holder {
    height: 100%;
    width: 90%;
    background-color: #e5e4e2;
    margin-left: auto;
    margin-right: auto;
}

#topics li {
    height: 200px;
    width: 200px;
    display: inline-block;
    margin-left: 260px;
    margin-top: 60px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

#topics li div{
    font-weight: bold;
    text-align: center;
    margin-top: 216px;
}

#programming {
    background-image:url('resources/programming_logo.png')
}

#gardening {
    background-image:url('resources/gardening_logo.jpg')
}

#photography {
    background-image:url('resources/photography_logo.jpg')
}
